@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
:root {
  --photo-bg-color: transparent;
  --photo-border-color: transparent;
  --photo-border-line-width: 0;
  --photo-max-hight: 80%;
  --photo-filter-blur: blur(0);
  --photo-filter-contrast: contrast(100%);
  --photo-filter-grayscale: grayscale(0);
  --photo-filter-hue-rotate: hue-rotate(0);
  --photo-filter-drop-shadow-offset-x: 0;
  --photo-filter-drop-shadow-offset-y: 0;
  --photo-filter-drop-shadow-blur-radius: 0;
  --photo-filter-drop-shadow-color: black;
  --photo-filter-invert: invert(0);
  --photo-filter-opacity: opacity(100%);
  --photo-filter-saturate: saturate(100%);
  --photo-filter-sepia: sepia(0);
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "sidebar nav"
    "sidebar main";
  /* overflow: hidden; */
}

.sidebar {
  grid-area: sidebar;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  background-color: #edf6f9;
  padding: 1.5em;
  position: relative;
}

.main-container {
  width: 100%;
  height: calc(100% - 4em);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='%2342999BFF' stroke-width='3' stroke-dasharray='17 13' stroke-dashoffset='37' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--photo-bg-color);
  padding: 2em 0;
}

.main-container input {
  display: none;
}

.main-container button {
  background-color: #42999b;
  color: white;
  border: unset;
  padding: 1.75em 8em;
  border-radius: 4em;
  cursor: pointer;
}

.main-container p {
  text-align: center;
  color: #00383d;
}

.main-container .text {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}
.chosenPhoto {
  max-height: var(--photo-max-hight);
  max-width: 100%;
  overflow: hidden;
  border: var(--photo-border-line-width) solid var(--photo-border-color);
  filter: var(--photo-filter-blur) var(--photo-filter-contrast)
    var(--photo-filter-grayscale) var(--photo-filter-hue-rotate)
    drop-shadow(
      var(--photo-filter-drop-shadow-offset-x)
        var(--photo-filter-drop-shadow-offset-y)
        var(--photo-filter-drop-shadow-blur-radius)
        var(--photo-filter-drop-shadow-color)
    )
    var(--photo-filter-invert) var(--photo-filter-opacity)
    var(--photo-filter-saturate) var(--photo-filter-sepia);
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main";
  }

  .sidebar {
    grid-area: nav;
  }

  nav {
    grid-area: sidebar;
  }

  main {
    grid-area: main;
  }
}
