@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
:root {
  --photo-bg-color: transparent;
  --photo-border-color: transparent;
  --photo-border-line-width: 0;
  --photo-max-hight: 80%;
  --photo-filter-blur: blur(0);
  --photo-filter-contrast: contrast(100%);
  --photo-filter-grayscale: grayscale(0);
  --photo-filter-hue-rotate: hue-rotate(0);
  --photo-filter-drop-shadow-offset-x: 0;
  --photo-filter-drop-shadow-offset-y: 0;
  --photo-filter-drop-shadow-blur-radius: 0;
  --photo-filter-drop-shadow-color: black;
  --photo-filter-invert: invert(0);
  --photo-filter-opacity: opacity(100%);
  --photo-filter-saturate: saturate(100%);
  --photo-filter-sepia: sepia(0);
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "sideNav nav"
    "sideNav main";
  overflow: hidden;
}

.sideNav {
  grid-area: sideNav;
  position: relative;
  background: #d3eaeb;
  overflow: hidden;
}

.main-options {
  list-style-type: none;
  padding-left: 0;
}

.options-name {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}

.options-name:hover {
  background: #b8dedc;
}

.main-options > li:hover,
.main-options > li:active,
.main-options > li:focus {
  cursor: pointer;
}

.options--visible > .options-name {
  background: #b8dedc;
}

.options--visible > .options {
  transform: translateX(0);
}

.options {
  width: calc(100% - 55px);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 3.5em;
  transition: 0.3s;
  overflow: auto;
  list-style-type: none;
  transform: translateX(100%);
  background: #b8dedc;
  padding: 1em 0;
}

.options > * {
  padding: 0 2.25em 0 1em;
  margin-bottom: 1.75em;
}

.options p {
  font-weight: bold;
}

.options > li:first-child,
.options > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background: #42999b;
  color: white;
  padding: 0 1em;
}

.options > li:first-child > p,
.options > div:first-child > p {
  margin: 1em 0;
}
.options > li:first-child > svg,
.options > div:first-child > svg {
  transform: rotate(0);
  transition: all 0.25s ease;
}

.options > li:first-child > svg:hover,
.options > div:first-child > svg:hover {
  transform: rotate(90deg);
}

nav.navbar {
  grid-area: nav;
  padding: 1.25em 1em 0;
  background: #edf6f9;
}

main {
  grid-area: main;
  background-color: #edf6f9;
  padding: 1.5em;
  position: relative;
}

.main-container {
  width: 100%;
  height: calc(100% - 4em);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='%2342999BFF' stroke-width='3' stroke-dasharray='17 13' stroke-dashoffset='37' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--photo-bg-color);
  padding: 2em 0;
}

.main-container input {
  display: none;
}

.main-container button {
  background-color: #42999b;
  color: white;
  border: unset;
  padding: 1.75em 8em;
  border-radius: 4em;
  cursor: pointer;
}

.main-container p {
  text-align: center;
  color: #00383d;
}

.main-container .text {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}
.chosenPhoto {
  max-height: var(--photo-max-hight);
  max-width: 100%;
  overflow: hidden;
  border: var(--photo-border-line-width) solid var(--photo-border-color);
  filter: var(--photo-filter-blur) var(--photo-filter-contrast)
    var(--photo-filter-grayscale) var(--photo-filter-hue-rotate)
    drop-shadow(
      var(--photo-filter-drop-shadow-offset-x)
        var(--photo-filter-drop-shadow-offset-y)
        var(--photo-filter-drop-shadow-blur-radius)
        var(--photo-filter-drop-shadow-color)
    )
    var(--photo-filter-invert) var(--photo-filter-opacity)
    var(--photo-filter-saturate) var(--photo-filter-sepia);
}

.basic-btn {
  background-color: #42999b;
  color: white;
  border: unset;
  padding: 1em 2em;
  border-radius: 1.5em;
  cursor: pointer;
  min-width: 8em;
}

.add-text-btn-container {
  display: flex;
  justify-content: center;
}

.removeBtn {
  padding: 0;
  border-radius: 50%;
  min-width: 2em;
  min-height: 2em;
}

.space-between-center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-text {
  font-weight: bold;
}

.add-text > div > * {
  margin-bottom: 1em;
}

.add-text > div label {
  display: block;
  margin-bottom: 1em;
}

.add-text input[type="text"],
.add-text input[type="number"],
.add-text select {
  padding: 0.75em 1em;
  border: 1.5px solid #42999b;
  border-radius: 0.5em;
}

.add-text input[type="text"],
.add-text input[type="number"],
.add-text select {
  padding: 0.75em 1em;
}

.add-text select {
  padding: 0.5em 0;
}

.add-text input[type="text"]:focus-visible,
.add-text input[type="number"]:focus-visible,
.add-text select:focus-visible {
  outline: #42999b;
}

/* style for range input */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 1em;
  background: #ffffff;
  cursor: pointer;
  margin-top: -12.5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 36px;
  width: 16px;
  border-radius: 1em;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 36px;
  width: 16px;
  border-radius: 1em;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #42999b;
  border-radius: 0.5em;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #328e92;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #42999b;
  border-radius: 0.5em;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-width: 16px 0;
}

input[type="range"]::-ms-fill-lower {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #42999b;
  border-radius: 0.5em;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #328e92;
}

input[type="range"]::-ms-fill-upper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #42999b;
  border-radius: 0.5em;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #328e92;
}

/* style for color input */
input[type="color"] {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 3em;
  width: 3em;
  padding: 0;
}

:-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
  border-color: transparent;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
  border-color: transparent;
}

::-moz-focus-inner {
  padding: 0;
}

/* style for scroll */
/* width */
::-webkit-scrollbar {
  width: 0.75em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #42999b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.5em;
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas:
      "nav"
      "sideNav"
      "main";
  }

  nav.navbar {
    grid-area: nav;
  }

  .sideNav {
    grid-area: sideNav;
  }

  main {
    grid-area: main;
  }
}
